NODE_ENV=development
# Back-end port
PORT=8080
# JWT
JWT_SECRET=abcd1234
JWT_EXPIRE=86400
# Calendar
CAL_DOMAIN=clubhouse.com
CAL_LOCATION=Club house
# Knex debug
DEBUG=knex:query
# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=my-secret-pw
MYSQL_DB_NAME=clubhouse

# Optional
# MYSQL_CONNECTION_STRING=

# Email
MAIL_PREFIX=Clubhouse
SMTP_SERVER=smtp.ethereal.email
SMTP_USERNAME=qd3m27cu6ds4u4dd@ethereal.email
SMTP_PASSWORD=3YaRwf2q5hMdkQ6yFM
SMTP_PORT=587
SMTP_SECURE=true