version: '3.7'
volumes:
  clubhouse-mysql-data:
services:
  mysli:
    image: mysql:5.6
    environment:
      MYSQL_ROOT_PASSWORD: my-secret-pw
      MYSQL_DATABASE: clubhouse_dev
    volumes:
      - clubhouse-mysql-data:/var/lib/mysql
  clubhouse:
    build:
      context: .
      shm_size: 1G
      dockerfile: Dockerfile-dev.dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - mysli
    volumes:
      - ./src:/backend/src
      - ./test:/backend/test
      - ./seeds:/backend/seeds
      - ./migrations:/backend/migrations
      - ./knexfile.ts:/backend/knexfile.ts
    environment:
      - NODE_ENV=development
      - PORT=8080
      - JWT_SECRET=abcd1234
      - JWT_EXPIRE=86400
      - CAL_DOMAIN=clubhouse.com
      - CAL_LOCATION=Club house
      - MYSQL_HOST=mysli
      - MYSQL_PORT=3306
      - MYSQL_USER=root
      - MYSQL_PASSWORD=my-secret-pw
      - MYSQL_DB_NAME=clubhouse
      - ENABLE_EMAIL_SENDING=no
      - MAIL_PREFIX=Clubhouse
      - MAIL_FROM_ADDRESS=clubhouse@example.com
      - MAIL_FROM_NAME=Clubhouse
      - SMTP_SERVER=smtp.ethereal.email
      - SMTP_USERNAME=qd3m27cu6ds4u4dd@ethereal.email
      - SMTP_PASSWORD=3YaRwf2q5hMdkQ6yFM
      - SMTP_PORT=587
      - SMTP_SECURE=true